{{- $debug := partialCached "functions/debug/enabled.html" . -}}

{{- if .Params.schema -}}
  {{- $template := printf "schema.org/%s" .Params.schema -}}
  {{- if templates.Exists (printf "_partials/%s" $template) -}}
    {{- partial $template . -}}
  {{- else -}}
    {{- warnf "[data/schema.org.html] Can't find %s" $template -}}
  {{- end -}}
{{- else if .IsHome -}}
  {{- if templates.Exists "_partials/schema.org/home.html" -}}
    {{- partial "schema.org/home.html" . -}}
  {{- else -}}
    {{- warnf "[data/schema.org.html] Can't find schema.org/home.html" -}}
  {{- end -}}
{{- else -}}
  {{- $schemaTemplate := printf "schema.org/%s.html" .Kind -}}
  {{- if templates.Exists (printf "_partials/%s" $schemaTemplate) -}}
    {{- partial $schemaTemplate . -}}
  {{- else if $debug -}}
    {{- warnf "[data/schema.org.html] Can't find %s" $schemaTemplate -}}
  {{- end -}}
{{- end -}}
