version: 2
updates:
  # Maintain dependencies for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    groups:
      github-actions:
        patterns:
        - '*'
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
    groups:
      npm:
        patterns:
        - '*'
    versioning-strategy: increase
    ignore:
      - dependency-name: "express"
        versions: '>5'
      - dependency-name: "mktemp"
        versions: '>1'
      - dependency-name: "svgo"
        versions: '>3'
      - dependency-name: "ol-mapbox-style"
        versions: '>12'
      - dependency-name: "cesium"
        versions: '>1.133'
      - dependency-name: "eslint-plugin-toml"
        versions: '>=1'
  - package-ecosystem: "npm"
    versioning-strategy: increase
    directory: "/fonts/"
    schedule:
      interval: "daily"
    groups:
      fonts:
        patterns:
        - '*'
  - package-ecosystem: "npm"
    versioning-strategy: increase
    directory: "/flags/"
    schedule:
      interval: "daily"
    groups:
      fonts:
        patterns:
        - '*'
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "Pillow"
      - dependency-name: "numpy"
    groups:
      pip:
        patterns:
        - '*'
  - package-ecosystem: "pip"
    directory: "/scripts/PyHugo"
    schedule:
      interval: "daily"
  - package-ecosystem: gomod
    directory: "/scripts/PyHugo/go"
    schedule:
      interval: daily
