patches/mirador*
node_modules/
yarn-error.log
yarn.lock
scripts/*/__pycache__/*
*.pyc
i18n/de.toml
i18n/en.toml
3029.patch
**/puppeteerTmp
**/.DS_Store
public
docs
.hugo_build.lock
resources
static/fonts/*.woff
static/fonts/*.woff2
tmp/fonts*
hugo_stats.json
fonts/pnpm-lock.yaml
