pillow
termcolor
pyyaml
toml
icalendar
pylint
qrcode ~=7.3
cairosvg
svgutils
idna
jxlpy
auditwheel
Cython


# See https://adamj.eu/tech/2019/03/11/pip-install-from-a-git-repository/
#svgutils @ git+https://github.com/btel/svg_utils@1cc5b888f265407d2ea3b1f93c95b2efd29c611c
