@import "functions/color";

$color-dark: #333 !default;
$color-light: #d3d3d3 !default;

$play-button-dark: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='#{encodecolor($color-dark)}' d='M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6z'/%3E%3C/svg%3E";
$pause-button-dark: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='#{encodecolor($color-dark)}' d='M144 479H48c-26.5 0-48-21.5-48-48V79c0-26.5 21.5-48 48-48h96c26.5 0 48 21.5 48 48v352c0 26.5-21.5 48-48 48zm304-48V79c0-26.5-21.5-48-48-48h-96c-26.5 0-48 21.5-48 48v352c0 26.5 21.5 48 48 48h96c26.5 0 48-21.5 48-48z'/%3E%3C/svg%3E";

.audioplayer {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    position: relative;
    min-width: fit-content;

    .button-container {
        box-shadow: 0 0 5px gray;
        border-radius: 50%;
        border:16px solid #2d2d2d;

        .audioplayer-button {
            cursor: pointer;
            width: 6em;
            height: 6em;
            border: none;
            border-radius: 50%;
            padding: 1em;
            display:block;

            &.play {
                padding-left: 1.4em;
            }

            &.play:after {
                content: url($play-button-dark);
            }

            &.pause:after {
                content: url($pause-button-dark);
            }

            &:after {
              display: inline-block;
              margin: auto;
              width: 3em;
              height: 3em;
            }

            &:hover {
              background-color: darken(#f2f0ec, 15%);
            }
        }
    }
}
