@import "fonts/source-code-pro";

.color-sample {
    padding: 0.6rem;
    display: inline-block;

    .color-sample-code {
        font-family: 'Source Code Pro', monospace;
        padding-left: 1em;
    }
}
