.footer-container {
    text-align: center;
    margin-top: 0.8em;
    font-size: x-small;

    p {
        margin: auto;

        &.projektemacher {
            margin: 0.6em 0;
        }

        &.copyright {
            margin: 0.6em 0;
        }

        &.cc {
            color: #aaa6ab;
            padding-bottom: 0.4em;
        }
    }
}
