.share {
    text-align: end;
    font-size: small;
    line-height: normal;
    margin-top: 1em;
    margin-bottom: 1.5em;

    a {
        text-decoration: none;
    }

    .iiif-link {
        .iiif-iiif {
            background-image: url("/images/iiif-logo.svg");
            background-repeat: no-repeat;
            background-size: contain;
            content: "IIIF";
            color: rgba(0, 0, 0, 0);
            vertical-align: middle;
        }
    }
}
