$font-body-font: "#000" !default;

body {
    font-family: $font-body-font;

    &.about {
        background-position: 95% 7em;
        background-image: url("/images/cm.svg");
        background-repeat: no-repeat;
    }

    &.error404 {
    }
}

code {
    @media (max-width: 56em) {
        word-break: break-all;
    }
}
