{{- $entries := .entries -}}
<div id="timeline" class="timeline timeline-horizontal">
</div>
<script type="text/javascript">
    var triggerTabList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tab"]'));
    triggerTabList.forEach(function (triggerEl) {
        var tabTrigger = new bootstrap.Tab(triggerEl);
    });

    var issues = [
        {{- range $entries -}}
                {{- $year := .Params.year -}}
                {{- $month := 1 -}}
                {{- if isset .Params "month" -}}
                    {{- $month = .Params.month -}}
                {{- end -}}
                {{- $content := printf "<a href=\"%s\">%s</a>" .RelPermalink .Title -}}
                {"content": "{{ $content }}", "start": new Date({{- $year -}}, {{- $month -}}, 1), "url": {{ .RelPermalink | jsonify }}},

        {{- end -}}
    ];
    var options = {};
    var timeline = addTimeline('timeline', issues, options);

    document.addEventListener("DOMContentLoaded", function() {
        if ($(window).width() < 1024) {
            bootstrap.Tab.getInstance(document.getElementById('vertical-tab')).show()
            //$('#vertical-tab').tab('show')
        }
    });
</script>
