{{- $entries := .entries -}}
<div class="timeline timeline-vertical">
    {{- $first := index (first 1 $entries) 0 -}}
    {{- $last := index (last 1 $entries) 0 -}}
    {{- $name := "preview" -}}

    {{- range $index, $entry := $entries -}}
        {{- $year := .Params.year -}}
        {{- $month := 1 -}}
        {{- if isset .Params "month" -}}
            {{- $month = .Params.month -}}
        {{- end -}}

        {{- $context := path.Dir .File.Path -}}
        {{- $images := newScratch -}}
        {{- $entry := . -}}

        {{- range .Params.resources -}}
            {{- if eq ($images.Get "preview") nil -}}
                {{- if or (eq .name "front") (eq .name "cover") (eq .name "preview") -}}
                    {{- $images.Set "previewLoc" (path.Join $context .src) -}}
                    {{- $images.Set "preview" (($entry.Resources.ByType "image").GetMatch .name) -}}
                    {{- $name = .name -}}
                {{- end -}}
            {{- end -}}
        {{- end -}}

        {{- $imgLocation := $images.Get "previewLoc" -}}
        {{- $previewImg := $images.Get "preview" -}}

        {{- if eq (string $previewImg.MediaType) "image/jxl" -}}
          {{/* {{- warnf "[timeline/vertical.html] Page %s contains JXL image" $entry.File.Path -}} */}}
          {{- if not $name -}}
            {{- warnf "[timeline/vertical.html] JXL Reference in %s, but no 'name' set, using default" $entry.File.Path -}}
          {{- end -}}
          {{- $previewImg = partial "iiif/preview.html" (dict "context" $entry "name" $name) -}}

        {{- end -}}

        {{- if eq $previewImg nil -}}
            {{- warnf "[timeline/vertical.html] Can't find image %s for post %s" $imgLocation $context -}}
        {{- end -}}
        {{- $previewImg = $previewImg.Resize "370x"  -}}

        {{- $class := "" -}}
        {{- if eq (mod $index 2) 0 -}}
            {{- $class = "even" -}}
        {{- else -}}
            {{- $class = "odd" -}}
        {{- end -}}

        <div class="timeline-item {{ $class }}">
            <div class="preview-img-container">
                <a href="{{ .RelPermalink }}">
                    <img class="list preview-img" src="{{ $previewImg.RelPermalink }}" alt="Cover">
                    <div class="year">{{- $year -}}</div>
                </a>
            </div>
            <div class="preview-text-container">
                <a href="{{ .RelPermalink }}">

                    {{- $title := "" -}}
                    {{ if isset .Params "subtitle" -}}
                      {{- $title = printf "%s: %s" .Title .Params.subTitle -}}
                    {{- else -}}
                      {{- $title = .Title -}}
                    {{- end -}}
                    <div class="preview-title">{{ $title }}</div>
                    <p>{{ .Summary }}</p>
                </a>
{{/* (, {{- $month -}}, 1), "url": {{ .RelPermalink | jsonify }}}, */}}
            </div>
        </div>
    {{- end -}}
</div>
