{{- $entries := slice -}}
{{- $maxLevels := 3 -}}
{{- if reflect.IsMap . -}}
  {{- $entries = .entries -}}
  {{- with .maxLevels -}}
    {{- $maxLevels = . -}}
  {{- end -}}
{{- else -}}
  {{- errorf "[print/toc.html] Needs params as dict, not just context" .RelPermalink -}}
{{- end -}}
{{- partial "print/toc-level.html" (dict "entries" $entries "maxLevels" $maxLevels) -}}

{{- define "_partials/print/toc-level.html" -}}
  {{- $level := 1 -}}
  {{- $entries := .entries -}}
  {{- $maxLevels := .maxLevels -}}
  {{- with .level -}}
    {{- $level = . -}}
  {{- end -}}
  {{- if eq $level $maxLevels -}}
    {{- return -}}
  {{- end -}}
  <ol>
    {{- range $entries -}}
      {{- if reflect.IsSlice . -}}
        {{- partial "print/toc-level.html" (dict "entries" . "level" (add $level 1) "maxLevels" $maxLevels) -}}
      {{- else if reflect.IsMap . -}}
        {{- if and (not (isset . "href")) (not (isset . "title")) -}}
          {{- errorf "[print/toc.html] TOC entry malformed (missing title or href): %v" (jsonify .) -}}
        {{- end -}}
        <li {{ with .type}} class="{{ . }}"{{ end }}><a href="{{ .href }}">{{ .title }}</a>
      {{- else -}}
        {{- errorf "[print/toc.html] Unexpected TOC data type %#v" . -}}
      {{- end -}}
    {{- end -}}
  </ol>
{{- end -}}
