{{- $page := .Page -}}
{{- $context := path.Dir .File.Path -}}
{{- $pageURL := .Permalink -}}
{{- $class := "iiif" -}}
{{- if (isset .Page.Params "subtype") -}}
  {{- $class = (printf "%s %s" $class .Page.Params.subtype) -}}
{{- end -}}
{{- if (isset .Page.Params "iiifclass") -}}
  {{- $class = (printf "%s %s" $class .Page.Params.iiifclass) -}}
{{- end -}}
{{- if (hasPrefix .Page.Params.iiifcontext "http://iiif.io/api/image/") -}}
  <div class="{{ $class }}">
    {{- range .Params.resources -}}
      {{- if or (eq .name "front") (eq .name "back") (eq .name "title") (eq .name "cover") (eq .name "page") -}}
        {{ partial "iiif/iiif-image.html" (dict "context" . "contextPath" $context "pageURL" .Permalink "heading" (i18n .name) "pageContext" $page "site" $.Site) }}
      {{- end -}}
    {{- end -}}
  </div>
{{- else if and (hasPrefix .Page.Params.iiifcontext "http://iiif.io/api/presentation/") (or .Page.Params.iiifmanifest .Page.Params.iiif.manifest) -}}
  <div class="{{ $class }}">
      {{- partial "iiif/iiif-presentation.html" . -}}
  </div>
{{- end -}}
