{{- partial "header.html" . -}}

{{- $classes := "container include" -}}
{{- if and .Section (ne .Section "") -}}
  {{- $classes = printf "%s %s" $classes .Section -}}
{{- end -}}

<div class="{{ $classes }}">
    <main role="main" class="article include">
        <button id="fullscreen-button" type="button" class="fullscreen-button">
          <i class="fullscreen-icon"></i>
        </button>
        <div id="fullscreen-context" class="include-wrapper">
          {{ partial "html/html-body.html" . }}
        </div>
    </main>
    {{- if .Content -}}
        <div class="container">
            <main role="main" class="article">
              {{- if templates.Exists "article.html" -}}
                {{- partial "article.html" . -}}
              {{- else -}}
                {{- warnf "[_default/html-body.html] Couln't find file article.html!" -}}
              {{- end -}}
            </main>
        </div>
    {{- end -}}
</div>

{{- partial "footer.html" . -}}
