{{- $ref := "" -}}
{{- $section := "post" -}}
{{- $title := false -}}
{{- with .Get "slug" -}}
  {{- $ref = . -}}
{{- end -}}
{{- with .Get "section" -}}
  {{- $section = . -}}
{{- end -}}
{{- if eq $ref "" -}}
    {{- errorf "[print-ref.html] No argument given in %s" .Page.RelPermalink -}}
{{- end -}}

{{- $post := site.GetPage (printf "/%s/%s" $section $ref) -}}
{{- $pageAbbr := i18n "pageAbbr" -}}

{{- with .Get "title" -}}
  {{- if and (eq (printf "%T" .) "bool") (eq . true) -}}
    {{- $title = $post.Title -}}
    {{- if eq $title "" -}}
      {{- $title = $post.Description -}}
    {{- end -}}
  {{- else if eq (printf "%T" .) "string" -}}
    {{- $title = . -}}
  {{- end -}}
  {{- $title = printf `<span class="page-ref-title">%s</span>, %s` $title $pageAbbr -}}
{{- else -}}
  {{- $title = $pageAbbr -}}
{{- end -}}

{{- $link := printf "#_%s" (replace $post.RelPermalink "/" "-") -}}
{{- (printf `<a class="page-ref" href="%s" title="%s">%s </a>` $link ($title | htmlEscape) $title) | safeHTML -}}
