{{- $filename := "" -}}
{{- $content := "" -}}
{{- $class := "link" -}}
{{- if (.Get "file") -}}
  {{- $filename = (.Get "file") -}}
{{- end -}}
{{- if (.Get "content") -}}
  {{- $content = (.Get "content") -}}
{{- else -}}
  {{- $content = $filename -}}
{{- end -}}
{{- if (.Get "class") -}}
  {{- $class = (.Get "class") -}}
{{- end -}}

{{- $base := substr ($.Page.Permalink | replaceRE "\\.html$" "/") (sub (len site.BaseURL) 1) -}}
{{- $filename = printf "%s%s" $base $filename -}}

<div class="download-link">
  {{ if $content }}
    <a class="{{ $class }}" href="{{ $filename }}" target="_blank">{{ $content | safeHTML }}</a>
  {{ end }}
</div>
