{{- if or (eq (printf "%T" .) "bool") (eq (printf "%T" .) "int") -}}
  {{- . -}}
{{- else if or (eq (printf "%T" .) "string") (eq (printf "%T" .) "template.HTML") -}}
  {{- if eq . "undefined" -}}
    {{- printf "undefined" -}}
  {{- else -}}
    {{- $str := . -}}
    {{- with try (unmarshal .) -}}
      {{- if .Err -}}
        {{- warnf "[partials/js/type.html] String isn't JSON: %s" $str -}}
        {{- printf "'%s'" $str -}}
      {{ else }}
        {{- printf "%s" (index .Value | jsonify) -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- else if or (reflect.IsMap .) (reflect.IsSlice .) -}}
  {{- . | jsonify -}}
{{- else -}}
  {{- warnf "[partials/js/type.html] Unhandled type: '%T': %s" . . -}}
{{- end -}}
