<header class="header header-main" id="head">
  <div class="menu">
    {{ partial "menu.html" . }}
  </div>
  {{- $defaultHeaderImage := "/images/header.svg" -}}
  {{- $headerImage := "" -}}
  {{- if ne $.Site.Params.headerimage "" -}}
    {{- $headerImage = $.Site.Params.headerimage -}}
  {{- else -}}
    {{- $headerImage = $defaultHeaderImage -}}
  {{- end -}}
  <a href="/">
    {{- if ne $headerImage "" -}}
      <img class="header-logo" alt="{{ .Site.Title }}" src="{{ $headerImage }}"></a>
    {{- end -}}
    <h1 class="header-title">{{ .Title }}</h1>
    {{- $subtitle := .Params.subtitle | default "" -}}
    {{- if ne $subtitle "" -}}
      <h2 class="header-subtitle">{{ $subtitle }}</h2>
    {{- end -}}
</header>
