{{ if or .Site.Menus.main .Site.IsMultiLingual }}
    <nav class="top top-menu">
        <input type="checkbox" id="menu-toggle" />
        <label class="menu-button float-right" for="menu-toggle"><i class="menu-icon"></i></label>
        <ul class="navigation-list">
            {{ with .Site.Menus.main}}
                {{ range sort . }}
                    {{- $class := path.Base .URL -}}
                    {{- $class = replaceRE "^/$" "root" $class -}}
                    {{- $class = printf "navto-%s" $class -}}
                    <li class="navigation-item {{ $class }}"><a class="navigation-link" href="{{ .URL | absLangURL }}">{{ .Name }}</a></li>
                {{ end }}
            {{ end }}
            {{ if .Site.IsMultiLingual }}
                {{ range (default .Site.Home.AllTranslations .Translations) }}
                    {{ if ne $.Site.Language .Language }}
                        <li class="navigation-item lang">
                            <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
                        </li>
                    {{ end }}
                {{ end }}
            {{ end }}
        </ul>
    </nav>
{{ end }}
