{{- $previewFile := "" -}}
{{- if isset .context.Site.Params "preview" -}}
    {{- $previewImgPrefix := .context.Site.Params.preview.outputPrefix -}}

    {{- if ne .context.Sites.First .context.Site -}}
        {{- $previewImgPrefix = printf "%s.%s%s" $previewImgPrefix .context.Site.Language.Lang .context.Site.Params.preview.outputSuffix -}}
    {{- else -}}
        {{- $previewImgPrefix = printf "%s%s" $previewImgPrefix .context.Site.Params.preview.outputSuffix -}}
    {{- end -}}

    {{- $contentImg := (.context.Resources.ByType "image").GetMatch $previewImgPrefix -}}

    {{- return $contentImg -}}
    {{/*
    {{- if ne $contentImg nil -}}
        {{- $previewFilePattern := printf "%s%s" .context.Site.Params.preview.outputPrefix .context.Site.Params.preview.outputSuffix -}}
        {{- $previewFile = .context.Resources.GetMatch $previewFilePattern -}}
        {{- return $previewFile -}}
    {{- end -}}
    */}}
{{- end -}}
