{{/* TODO: Check for other methods for favicons in 'head.html' */}}

{{- if or .Site.Params.favicon_32 .Site.Params.favicon_16 -}}
  <link rel="icon" type="image/png" href="{{ .Site.Params.favicon_32 | default "/images/favicon-32.png" | absURL }}" sizes="32x32">
  <link rel="icon" type="image/png" href="{{ .Site.Params.favicon_16 | default "/images/favicon-16.png" | absURL }}" sizes="16x16">
{{- else -}}
  {{- if .Site.Params.favicon -}}
    {{- if reflect.IsSlice .Site.Params.favicon -}}
      {{- range $iconMap := .Site.Params.favicon -}}
        <link rel="{{ index $iconMap "rel" }}" type="image/png" sizes="{{ index $iconMap "sizes" }}"  href="{{ index $iconMap "href" }}">
      {{- end -}}
    {{- else -}}
      <link rel="icon" type="image/png" href="{{ .Site.Params.favicon }}">
      <link rel="apple-touch-icon" type="image/png" href="{{ .Site.Params.favicon }}">
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- if .Site.Params.favicon_svg -}}
    <link rel="icon" type="image/svg+xml" href="{{ .Site.Params.favicon_svg }}">
{{- end -}}
