{{- with .Site.Params.author -}}
  {{- $author := . -}}
  {{- if reflect.IsMap . -}}
    {{/*
    {{- if and (isset . "name") (isset . "email") -}}
      {{- $author = printf "%s <%s>" (index . "name") (index . "email") -}}
    */}}
    {{- if (isset . "name") -}}
        {{- $author = index . "name" -}}
    {{- end -}}
  {{- end -}}
  <meta name="author" content="{{ $author }}">
  <meta name="dc.creator" content="{{ $author }}">
{{- end -}}
{{/*
<meta name="description" content="{{ .Description | default (.Summary | default .Site.Params.description ) }}">
*/}}
<meta http-equiv="Content-Language" content="{{ .Site.Language.Lang }}">
<meta name="dc.type" content="Text">