{{/*
    Pinterest sizes: https://louisem.com/228434/pinterest-pin-size
    Open Graph sizees: https://iamturns.com/open-graph-image-size/
    */}}
{{ $ogHeight := 630 }}
{{ $ogWidth := 1200 }}
{{ $ogType := "jpeg" }}

{{- if (templates.Exists "partials/preview-images.html") -}}
    {{- $previewImg := partial "preview-images.html" (dict "context" . "height" $ogHeight "width" $ogWidth "type" $ogType) -}}
    {{- if not (or (eq $previewImg nil) (eq $previewImg "")) -}}
        <meta property="og:image" content="{{ $previewImg.RelPermalink }}" />
        <meta property="og:image:type" content="image/{{ $ogType }}" />
        <meta property="og:image:width" content="{{ $ogWidth }}" />
        <meta property="og:image:height" content="{{ $ogHeight }}" />
    {{- else -}}
        {{- warnf "Can't generate preview for %s" .File.Path }}
    {{- end -}}
{{- end -}}
