{{/*
    Pinterest sizes: https://louisem.com/228434/pinterest-pin-size
    Open Graph sizes: https://iamturns.com/open-graph-image-size/
    */}}
{{- $debug := partialCached "partials/functions/debug/enabled.html" . -}}

{{- $filePath := "" -}}
{{- if and (ne .File nil) (ne .File.Path nil) -}}
  {{- $filePath = .File.Path -}}
{{- end -}}

{{- $ogHeight := 630 -}}
{{- $ogWidth := 1200 -}}
{{- if isset $.Site.Params "preview" -}}
  {{- if $.Site.Params.preview.size.height -}}
    {{- $ogHeight = $.Site.Params.preview.size.height -}}
  {{- end -}}
  {{- if $.Site.Params.preview.size.width -}}
    {{- $ogWidth = $.Site.Params.preview.size.width -}}
  {{- end -}}
{{- end -}}

{{- $previewImg := "" -}}
{{- if (templates.Exists "partials/preview/image.html") -}}
    {{- $previewImg = partial "preview/image.html" (dict "context" . "height" $ogHeight "width" $ogWidth) -}}
{{- else -}}
    {{- $previewImg = partial "preview/prerendered.html" (dict "context" .) -}}
{{- end -}}

{{/* TODO: Finish this check */}}
{{/*
{{- if eq (printf "%T" $previewImg) "string" -}}
  {{- $previewImg = .Resources.Get $previewImg -}}
{{- end -}}
*/}}

{{- if and (ne $previewImg "") (ne (printf "%T" $previewImg) "*resources.resourceAdapter") -}}
  {{- if $debug -}}
    {{- warnf "[partials/html/head/og-image.html] Trying to load (%s) for %s since it's of wrong type (%T)" $previewImg $filePath $previewImg -}}
  {{- end -}}
  {{- $previewImg = .Resources.Get $previewImg -}}
{{- end -}}

{{- if ne (printf "%T" $previewImg) "*resources.resourceAdapter" -}}
  {{- if $debug -}}
    {{- warnf "[partials/html/head/og-image.html] Image resource (%s) for %s is of wrong type (%T)" $previewImg $filePath $previewImg -}}
  {{- end -}}
{{- end -}}

{{- if isset .Site.Params.preview "source" -}}
  {{- if and (ne .Site.Params.preview.source "") (or (eq .Site.Params.preview.source "post") (eq .Site.Params.preview.source "file")) -}}
    {{- $previewFile := printf "%s%s" .Site.Params.preview.outputPrefix .Site.Params.preview.outputSuffix -}}
    {{- with .Resources.Get $previewFile -}}
      {{- if $debug -}}
        {{- warnf "[partials/html/head/og-image.html] Using image (%s) as preview for post %s" $previewFile $filePath -}}
      {{- end -}}
      {{ $filter := images.Process "jpeg" }}
      {{- $previewImg = . | images.Filter $filter -}}
    {{- end -}}
  {{- else if and (ne .Site.Params.preview.source "") (eq .Site.Params.preview.source "overlay") -}}
    {{- $overlayFile := printf "%s%s" .Site.Params.preview.outputPrefix .Site.Params.preview.outputSuffix -}}
    {{- with .Resources.Get $overlayFile -}}
      {{- if $debug -}}
        {{- warnf "[partials/html/head/og-image.html] Using image (%s) as overlay for %s (post %s)" $overlayFile $previewImg $filePath -}}
      {{- end -}}
      {{- $filter := images.Overlay . 0 0 -}}
      {{- if eq (printf "%T" $previewImg) "*resources.resourceAdapter" -}}
        {{/*
        {{- $previewImg = $previewImg.Resize (printf "%dx" $ogWidth) -}}
        {{- $previewImg = $previewImg.Crop (printf  "%dx%d top q85 lanczos" $ogWidth $ogHeight) -}}
        */}}
        {{- if not (templates.Exists "partials/html/head/og-image-background.html") -}}
          {{- $bgColor := "#ffffff" -}}
          {{- if isset $.Site.Params.preview "background" -}}
            {{- $bgColor = $.Site.Params.preview.background -}}
          {{- end -}}

          {{- $previewImg = $previewImg.Fit (printf "%dx%d %s lanczos" $ogWidth $ogHeight) -}}
          {{- $paddingW := 0 -}}
          {{- $paddingH := 0 -}}
          {{- if lt $previewImg.Width $ogWidth -}}
            {{- $paddingW = div (sub $ogWidth $previewImg.Width) 2 -}}
          {{- end -}}
          {{- if lt $previewImg.Height $ogHeight -}}
            {{- $paddingH = div (sub $ogHeight $previewImg.Height) 2 -}}
          {{- end -}}
          {{- if or (ne $paddingW 0) (ne $paddingH 0) -}}
            {{- $filter := images.Padding $paddingH $paddingW $bgColor -}}
            {{- $previewImg = $previewImg | images.Filter $filter -}}
          {{- end -}}
        {{- else -}}
          {{- $previewImg = partial "partials/html/head/og-image-background.html" (dict "context" . "previewImg" $previewImg "height" $ogHeight "width" $ogWidth) -}}
        {{- end -}}
        {{- $previewImg = $previewImg | images.Filter $filter -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{/*
{{- if eq (string $previewImg.MediaType) "image/jxl" -}}
  {{- if $debug -}}
    {{- warnf "[partials/html/head/og-image.html] Generarting OpenGraph preview image from JXL isn't implemented for %s" $filePath -}}
  {{- end -}}
{{- end -}}
*/}}

{{- if not (or (eq $previewImg nil) (eq $previewImg "")) -}}
  {{/*
  {{ $filter := images.Process "jpeg" }}
  {{- $previewImg = $previewImg | images.Filter $filter -}}
  */}}
  <meta property="og:image" content="{{ $previewImg.Permalink }}" />
  <meta property="og:image:type" content="{{ $previewImg.MediaType }}" />
  <meta property="og:image:width" content="{{ $previewImg.Width }}" />
  <meta property="og:image:height" content="{{ $previewImg.Height }}" />
{{- else -}}
{{/*
    {{- warnf "[partials/html/head/og-image.html] Can't generate preview for %s" $filePath }}
*/}}
  {{ $path := "" }}
  {{ with .File }}
    {{ $path = .Path }}
  {{ else }}
    {{ $path = .Path }}
  {{ end }}
  {{- if $debug -}}
    {{- warnf "[partials/html/head/og-image.html] Can't generate preview for %s" $filePath }}
  {{- end -}}
{{- end -}}
