{{/* TODO: Merge this into style.html */}}
{{- $debug := partialCached "partials/functions/debug/enabled.html" . -}}

{{- $includes := unmarshal (partial "shortcodes/shortcode-helper.html" .) -}}
{{- $includesCSS := index $includes "css" -}}
{{- $includesSCSS := index $includes "scss" -}}

{{- if and $debug (or (len $includesCSS) (len $includesSCSS)) -}}
  {{- warnf "[partials/html/head/page-styles.html] Include shortcode specific styles %#v for %s" (union $includesCSS $includesSCSS) .File.Dir -}}
{{- end -}}

{{- $csss := .Params.css -}}
{{- if and $csss (not (reflect.IsSlice $csss)) -}}
    {{- $csss = slice $csss -}}
{{- end -}}
{{- if (len $includesCSS) -}}
  {{- $csss := union .Params.css $includesCSS -}}
{{- end -}}

{{- $scsss := .Params.scss -}}
{{- if and $scsss (not (reflect.IsSlice $scsss)) -}}
    {{- $scsss = slice $scsss -}}
{{- end -}}
{{- if (len $includesSCSS) -}}
  {{- $scsss := union .Params.scss $includesSCSS -}}
{{- end -}}

{{- $collectedStyles := (union $csss $scsss) | uniq -}}
{{- if $debug -}}
  {{- warnf "[partials/html/head/page-styles.html] Include page specific styles %#v" $collectedStyles -}}
{{- end -}}

{{- $styles := slice -}}
{{- range $style := $collectedStyles -}}
  {{- if ne $style "" -}}
    {{- $styles = $styles | append $style }}
  {{- end -}}
{{- end -}}
{{- return $styles -}}
