{{- if .Params.js -}}
    {{- $defines := dict "process.env.NODE_ENV" `"production"` -}}
    {{- if .Site.IsServer -}}
        {{ $defines = dict "process.env.NODE_ENV" `"development"` }}
    {{- end -}}
    {{- $fileName := "" -}}

    {{- $mainJs := slice -}}
    {{ range $script := .Params.js }}
        {{- $mainOpts := dict "targetPath" $script "defines" $defines -}}
        {{- $main := resources.Get $script | js.Build $mainOpts -}}
        {{- $mainJs = $mainJs | append $main -}}
        {{- $fileName = printf "%s%s" $fileName $script -}}
    {{- end -}}

    {{- if not $.Site.IsServer -}}
        {{- $mainJs = $mainJs | resources.Concat (printf "js/%s.js" (md5 $fileName)) | minify | fingerprint -}}
    {{- else -}}
        {{- $mainJs = $mainJs | resources.Concat (printf "js/%s.js" (md5 $fileName)) | fingerprint -}}
    {{- end -}}
    <script src="{{ $mainJs.RelPermalink }}" integrity="{{ $mainJs.Data.Integrity | html }}"></script>
{{- end -}}
