:root {
  interpolate-size: allow-keywords;
}

$copy-icon: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath d='M433.941 65.941l-51.882-51.882A48 48 0 0 0 348.118 0H176c-26.51 0-48 21.49-48 48v48H48c-26.51 0-48 21.49-48 48v320c0 26.51 21.49 48 48 48h224c26.51 0 48-21.49 48-48v-48h80c26.51 0 48-21.49 48-48V99.882a48 48 0 0 0-14.059-33.941zM266 464H54a6 6 0 0 1-6-6V150a6 6 0 0 1 6-6h74v224c0 26.51 21.49 48 48 48h96v42a6 6 0 0 1-6 6zm128-96H182a6 6 0 0 1-6-6V54a6 6 0 0 1 6-6h106v88c0 13.255 10.745 24 24 24h88v202a6 6 0 0 1-6 6zm6-256h-64V48h9.632c1.591 0 3.117.632 4.243 1.757l48.368 48.368a6 6 0 0 1 1.757 4.243V112z'/%3E%3C/svg%3E";

$clipboard-icon: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 48 48'%3E%3Cpath d='m24.707 37.293 7.586-7.586A.414.414 67.5 0 0 32 29h-3.5a1 1 45 0 1-1-1v-8a1 1 45 0 0-1-1h-5a1 1 135 0 0-1 1v8a1 1 135 0 1-1 1H16a.414.414 112.5 0 0-.293.707l7.586 7.586a1 1 0 0 0 1.414 0'/%3E%3Cpath d='M38 5.5h-9c0-2.8-2.2-5-5-5s-5 2.2-5 5h-9c-2.2 0-4 1.8-4 4v33c0 2.2 1.8 4 4 4h28c2.2 0 4-1.8 4-4v-33c0-2.2-1.8-4-4-4m-14-2c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2m14 39H10v-33h5v3c0 .6.4 1 1 1h16c.6 0 1-.4 1-1v-3h5z'/%3E%3C/svg%3E";

$collapse-icon: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 640'%3E%3Cpath d='M297.4 169.4C309.9 156.9 330.2 156.9 342.7 169.4L534.7 361.4C547.2 373.9 547.2 394.2 534.7 406.7C522.2 419.2 501.9 419.2 489.4 406.7L320 237.3L150.6 406.6C138.1 419.1 117.8 419.1 105.3 406.6C92.8 394.1 92.8 373.8 105.3 361.3L297.3 169.3z'/%3E%3C/svg%3E";

.highlight-container {

  .highlight-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .4rem;

    .highlight-title {
      flex-basis: 100%;

    }

    .icon,
    .copy,
    .collapse {
      justify-self: flex-end;
      padding: 0 .6rem;
      border: 0;
      background-color: transparent;
      padding-block: unset;
      padding-inline: .6rem;


      &:after {
          display: inline-block;
          width: 1rem;
          height: 1rem;
          vertical-align: sub;
      }
    }

    .copy:after {
      content: url($copy-icon);
    }

    .collapse {
      &:after {
        transition: transform .6s;
        content: url($collapse-icon);
      }
    }
  }

  &:has(input:checked) .collapse {
    &:after {
      transform: rotate(180deg);
    }
  }

  input:checked + .highlight {
    transform: scaleY(0);
    height: 0;
  }

  .highlight {
    transition: all .6s;
    transform: scaleY(1);
    height: auto;

    pre {
      padding: .6rem;
      margin-block: unset;
    }
  }

}
