{{- $selector := "" -}}
{{ if isset .Params "selector" }}
  {{- $selector = .Get "selector" -}}
{{- end -}}
{{- $browser := slice -}}
{{- if (.Get "browser") -}}
  {{- $browser = split (.Get "browser") "," -}}
{{- end -}}

<script type="text/javascript">
  var browsers = {{ $browser | jsonify | safeJS }};
  var selector = "{{ $selector | safeJS }}";
  browserDisableSelector(selector, browsers);
</script>

{{- define "_partials/shortcodes/audioplayer-metadata.html" -}}
  {{- (dict "css" slice "js" (slice "js/browser-banner.js") "scss" (slice "scss/browser-banner.scss")) | jsonify -}}
{{- end -}}
