{{- $href := "" -}}
{{- $title := "" -}}
{{- $class := "" -}}
{{- with .Get "link" -}}
    {{- $href = . -}}
{{- end -}}
{{- with .Get "title" -}}
    {{- $title = . -}}
{{- end -}}
{{- with .Get "class" -}}
    {{- $class = . -}}
{{- end -}}
{{- $external := false -}}
{{- if and (or (hasPrefix $href "http") (hasPrefix $href "//")) (not (hasPrefix $href .Site.BaseURL)) -}}
  {{- $class = printf "%s %s" $class "external" -}}
  {{- $external = true -}}
{{- end -}}
<a {{ if ne $href "" }}href="{{ $href }}"{{ end }} {{ if ne $class "" }}class="{{ $class }}"{{ end }} {{ if ne $title "" }}title="{{ $title }}"{{ end }} {{ if $external }}target="_blank"{{ end }} >{{.Inner | safeHTML}}</a>
