{{- $tags := slice -}}
{{- with .Get "tag" -}}
  {{- $tags = slice . -}}
{{- end -}}

{{- with .Get "tags" -}}
  {{- $tags = split . ","  -}}
{{- end -}}

{{- $section := "post" -}}
{{- with .Get "section" -}}
  {{- $section = . -}}
{{- end -}}

{{- $excludeSelf := true -}}

{{- if gt (len $tags) 0 -}}
  {{- $pages := slice -}}
  {{- $sectionPages := where .Site.Pages "Section" $section -}}
  {{- $tagPages := where $sectionPages "Params.tags" "intersect" $tags -}}
  {{- if gt (len $tags) 1 -}}
    {{- range $tagPages -}}
      {{- $page := . -}}
      {{- $keep := 0 -}}
      {{- range $tags -}}
        {{- if in $page.Params.tags . -}}
          {{- $keep = add $keep 1 -}}
        {{- end -}}
      {{- end -}}
      {{- if eq $keep (len $tags) -}}
        {{- $pages = $pages | append $page -}}
      {{- end -}}
    {{- end -}}
  {{- else -}}
    {{- $pages = $tagPages -}}
  {{- end -}}
  {{- $tag := delimit $tags " " -}}
  <ul class="tagged-posts {{ $tag | safeCSS }}">
    {{- range $pages -}}
      {{- if not (and $excludeSelf (eq .RelPermalink $.Page.RelPermalink)) -}}
        <li>
          <a href="{{ .RelPermalink }}" title="{{ .Title }}">{{ .Title }}</a>
        </li>
      {{- end -}}
    {{- end -}}
  <ul>
{{- end -}}
