/* See https://github.com/SorkinType/Alata */
@font-face {
    font-family: 'Alata Regular';
    font-weight: normal;
    font-style: normal;
    src: url('/fonts/alata-regular-webfont.woff2') format('woff2'),
         url('/fonts/alata-regular-webfont.woff') format('woff');
}
