/* Fonts downloaded by https://github.com/makovich/google-fonts-offline */

@font-face {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/Inconsolata_400_normal.woff2) format('woff2'),
         url(/fonts/Inconsolata_400_normal.woff) format('woff');
}
@font-face {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 700;
    src: url(/fonts/Inconsolata_700_normal.woff2) format('woff2'),
         url(/fonts/Inconsolata_700_normal.woff) format('woff');

}
@font-face {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 900;
    src: url(/fonts/Inconsolata_900_normal.woff2) format('woff2'),
        url(/fonts/Inconsolata_900_normal.woff) format('woff');
}
