/* https://www.theleagueofmoveabletype.com/league-spartan */

@font-face {
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 200;
  src: url('/fonts/LeagueSpartan-ExtraLight.woff2') format('woff2'),
       url('/fonts/LeagueSpartan-ExtraLight.woff') format('woff'),
       url('/fonts/LeagueSpartan-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/LeagueSpartan-Light.woff2') format('woff2'),
       url('/fonts/LeagueSpartan-Light.woff') format('woff'),
       url('/fonts/LeagueSpartan-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/LeagueSpartan-Regular.woff2') format('woff2'),
       url('/fonts/LeagueSpartan-Regular.woff') format('woff'),
       url('/fonts/LeagueSpartan-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/LeagueSpartan-Medium.woff2') format('woff2'),
       url('/fonts/LeagueSpartan-Medium.woff') format('woff'),
       url('/fonts/LeagueSpartan-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/LeagueSpartan-SemiBold.woff2') format('woff2'),
       url('/fonts/LeagueSpartan-SemiBold.woff') format('woff'),
       url('/fonts/LeagueSpartan-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/LeagueSpartan-Bold.woff2') format('woff2'),
       url('/fonts/LeagueSpartan-Bold.woff') format('woff'),
       url('/fonts/LeagueSpartan-Bold.ttf') format('truetype');
}
