/* Fonts downloaded from https://google-webfonts-helper.herokuapp.com/ */
/* nunito-sans-regular - latin */
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/nunito-sans-v6-latin-regular.woff2') format('woff2'),
       url('/fonts/nunito-sans-v6-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/nunito-sans-v6-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/nunito-sans-v6-latin-700.woff') format('woff'),;
}
