/* source-code-pro-regular - latin */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/source-code-pro-v13-latin-regular.woff2') format('woff2'),
       url('../fonts/source-code-pro-v13-latin-regular.woff') format('woff'),
       url('../fonts/source-code-pro-v13-latin-regular.ttf') format('truetype');
}
/* source-code-pro-italic - latin */
@font-face {
  font-family: 'Source Code Pro';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/source-code-pro-v13-latin-italic.woff2') format('woff2'),
       url('../fonts/source-code-pro-v13-latin-italic.woff') format('woff'),
       url('../fonts/source-code-pro-v13-latin-italic.ttf') format('truetype');
}
/* source-code-pro-700 - latin */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/source-code-pro-v13-latin-700.woff2') format('woff2'),
       url('../fonts/source-code-pro-v13-latin-700.woff') format('woff'),
       url('../fonts/source-code-pro-v13-latin-700.ttf') format('truetype');
}
/* source-code-pro-700italic - latin */
@font-face {
  font-family: 'Source Code Pro';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/source-code-pro-v13-latin-700italic.woff2') format('woff2'),
       url('../fonts/source-code-pro-v13-latin-700italic.woff') format('woff'),
       url('../fonts/source-code-pro-v13-latin-700italic.ttf') format('truetype');
}
