name: Deploy example site

on:
  push:
    branches:
      - main
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  packages: write
  contents: write

env:
  HUGO_VERSION: 0.154.5
  PYTHON_VERSION: '3.13'

jobs:
  deploy_exampleSite:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Setup Node.js
        uses: actions/setup-node@v6.1.0
        with:
          check-latest: true
          node-version-file: '.nvmrc'

      - name: Install required dependencies
        run: |
          ./scripts/setup.sh

      - name: Install Dart SASS
        run: |
          ./scripts/github/dart-sass.sh
          ./scripts/github/jxl-0.11.1.sh
          pip install -r requirements.txt

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3.0.0
        with:
          hugo-version: ${{ env.HUGO_VERSION }}
          extended: true

      - name: Merge lang files
        run: |
          ./scripts/init/i18n.sh i18n

      - name: Build Hugo site
        working-directory: exampleSite
        run: hugo --themesDir ../.. --printI18nWarnings --printUnusedTemplates

      - name: Index
        run: |
          python scripts/indexer.py -c pagefind-index.yaml

      - name: Deploy site
        uses: peaceiris/actions-gh-pages@v4.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./exampleSite/docs
          force_orphan: true
