name: Lint and check

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  packages: write
  contents: write

env:
  HUGO_VERSION: 0.155.3
  PYTHON_VERSION: '3.12'

jobs:
  lint:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true

      - name: Setup Node.js
        uses: actions/setup-node@v6.2.0
        with:
          check-latest: true
          node-version-file: '.nvmrc'

      - name: Configure npm
        run: npm config set legacy-peer-deps true

      - name: Install required dependencies
        run: |
          ./scripts/github/setup-dependencies.sh

# Needed to check if the JXL Python plugin builds
      - name: Install JXL dependencies
        run: |
          ./scripts/github/jxl-0.11.1.sh

# Needed to check if the JXL Python plugin builds
      - name: Install required Python dependencies
        run: |
          ./scripts/github/python-dependencies.sh

      - name: Install Node dependencies
        run: |
          #npm install --ignore-scripts
          yarn install --ignore-scripts

      - name: Run linters
        run: |
          yarn run lint
          yarn run eslint scripts/
          #npx stylelint -c .stylelintrc.json 'assets/scss/*'
          #npx eslint assets/js
          #npx eslint scripts

  test_install:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true

      - name: Setup Node.js
        uses: actions/setup-node@v6.2.0
        with:
          node-version-file: '.nvmrc'

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ env.PYTHON_VERSION }}

#      - name: Set up Docker
#        uses: docker/setup-buildx-action@v2

      - name: Install required dependencies
        run: |
          ./scripts/github/setup-dependencies.sh
          ./scripts/github/jxl-0.11.1.sh
          ./scripts/github/setup-xslt.sh
          ./scripts/github/setup-inkscape.sh
          ./scripts/github/setup-media.sh
          ./scripts/github/setup-osm.sh
          ./scripts/github/python-dependencies.sh
          ./scripts/github/docker-images.sh

  test_install_scss:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true

      - name: Install Dart SASS
        run: |
          ./scripts/github/dart-sass.sh

      - name: Setup Node.js
        uses: actions/setup-node@v6.2.0
        with:
          node-version-file: '.nvmrc'

      - name: Install Yarn and Node modules
        run: |
          npm install --ignore-scripts

      - name: Run Dart SASS
        run: |
          sass -I assets/scss/ -I node_modules/ol assets/scss/lint_dummy.scss

  test_external_npm:
    runs-on: ubuntu-24.04
    env:
      DEPENDENCY_MANAGER: npm
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true

      - name: Setup Node.js
        uses: actions/setup-node@v6.2.0
        with:
          node-version-file: '.nvmrc'

      - name: Install flags
        run: |
          ./scripts/flags.sh

      - name: Install fonts
        run: |
          ./scripts/fonts.sh

      - name: Install system fonts
        run: |
          ./scripts/github/setup-system-fonts.sh

  test_external_pnpm:
    runs-on: ubuntu-24.04
    env:
      DEPENDENCY_MANAGER: pnpm
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true

      - name: Setup Node.js
        uses: actions/setup-node@v6.2.0
        with:
          node-version-file: '.nvmrc'

      - uses: pnpm/action-setup@v4
        with:
          version: 9

      - name: Install flags
        run: |
          ./scripts/flags.sh

      - name: Install fonts
        run: |
          ./scripts/fonts.sh

      - name: Install system fonts
        run: |
          ./scripts/github/setup-system-fonts.sh

  test_external_yarn:
    runs-on: ubuntu-24.04
    env:
      DEPENDENCY_MANAGER: yarn
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true

      - name: Setup Node.js
        uses: actions/setup-node@v6.2.0
        with:
          node-version-file: '.nvmrc'

      - name: Install flags
        run: |
          ./scripts/flags.sh

      - name: Install fonts
        run: |
          ./scripts/fonts.sh

      - name: Install system fonts
        run: |
          ./scripts/github/setup-system-fonts.sh

  lint_fonts:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true

      - name: Setup Node.js
        uses: actions/setup-node@v6.2.0
        with:
          node-version-file: '.nvmrc'

      - uses: pnpm/action-setup@v4
        with:
          version: 9

      - name: Install fonts
        run: |
          ./scripts/fonts.sh

      - name: Lint fonts
        run: |
          cd fonts
          npm i
          npx stylelint --config ../.stylelintrc-postbuild.yaml '../assets/css/fonts/*'

  test_inkscape_install:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true
      - name: Install required dependencies
        run: |
          ./scripts/github/setup-dependencies.sh
      - name: Install Inkscape and it's dependencies
        run: |
          ./scripts/github/setup-inkscape.sh

  test_xslt_install:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true
      - name: Install required dependencies
        run: |
          ./scripts/github/setup-dependencies.sh
      - name: Install Saxon and it's dependencies
        run: |
          ./scripts/github/setup-xslt.sh
      - name: List Saxon directory
        run: |
          ls -al /opt/saxon

#  test_PyHugolib_install:
#    runs-on: ubuntu-24.04
#    steps:
#      - uses: actions/checkout@v6
#        with:
#          submodules: true
#      - name: Set up Python
#        uses: actions/setup-python@v6
#        with:
#          python-version: '3.10'
#      - uses: actions/setup-go@v5
#        with:
#          go-version-file: 'scripts/PyHugo/go/go.mod'
#      - name: Install required dependencies
#        run: |
#          ./scripts/github/python-dependencies.sh
#      - name: "Build PyHugolib"
#        run: |
#          ./scripts/github/pyhugolib.sh

  test_PyHugo:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - name: Install required dependencies
        run: |
          ./scripts/github/python-dependencies.sh
      - name: "Test PyHugolib"
        run: |
           python ./scripts/PyHugo/test-pyhugo.py -b exampleSite/

  test_pnpm:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true
      - name: Setup Node.js
        uses: actions/setup-node@v6.2.0
        with:
          node-version-file: '.nvmrc'
      - uses: pnpm/action-setup@v4
        with:
          version: 9
      - name: Install with pnpm
        run: |
          pnpm install --ignore-scripts
          ls node_modules

  test_python_versions:
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        version: ['3.10', '3.11', '3.12', '3.13', '3.14']

    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.version }}

      - name: Install JXL
        run: |
          ./scripts/github/jxl-0.11.1.sh

      - name: Install python dependencies
        if: "!endsWith(matrix.version, '-dev')"
        continue-on-error: false
        run: |
          ./scripts/github/python-dependencies.sh

      - name: Install python dependencies
        if: "endsWith(matrix.version, '-dev')"
        continue-on-error: true
        run: |
          ./scripts/github/python-dependencies.sh

  test_hugo_versions:
    runs-on: ubuntu-24.04
    continue-on-error: ${{ matrix.can-fail }}
    strategy:
      fail-fast: false
      matrix:
        version: ['0.150.1', '0.151.1', '0.152.2', '0.153.5', '0.154.5', 'latest']
        can-fail: [false]
        include:
          - version: 0.150.1
            args: '--printI18nWarnings --printUnusedTemplates --logLevel=debug'
          - version: 0.151.1
            args: '--printI18nWarnings --printUnusedTemplates --logLevel=debug'
          - version: 0.152.2
            args: '--printI18nWarnings --printUnusedTemplates --logLevel=debug'
          - version: 0.153.5
            args: '--printI18nWarnings --printUnusedTemplates --logLevel=debug'
          - version: 0.154.5
            args: '--printI18nWarnings --printUnusedTemplates --logLevel=debug'
          - version: latest
            args: '--printI18nWarnings --printUnusedTemplates --logLevel=debug'

    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Setup Node.js
        uses: actions/setup-node@v6.2.0
        with:
          check-latest: true
          node-version-file: '.nvmrc'

      - name: Install required dependencies
        run: |
          ./scripts/setup.sh

      - name: Install Dart SASS
        run: |
          ./scripts/github/dart-sass.sh

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3.0.0
        with:
          hugo-version: ${{ matrix.version }}
          extended: true

      - name: Merge lang files
        if: ${{ matrix.args }}
        run: |
          ./scripts/init/i18n.sh i18n

      - name: Build Hugo site
        if: ${{ ! matrix.args }}
        working-directory: exampleSite
        run: hugo --themesDir ../..

      - name: Build Hugo site (with arguments)
        if: ${{ matrix.args }}
        working-directory: exampleSite
        run: |
          hugo --themesDir ../.. ${{ matrix.args }}
